<!DOCTYPE html  xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/default">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello</title>
    <link href="/webjars/materializecss/0.100.1/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
<div class="row" layout:fragment="content">
    hello index
</div>
</body>
</html>